<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fugu Reference</title>
    <meta name="description" content="fugu is software for creating 3D geometry from code">
    <meta name="author" content="Ben Porter">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
		<link href="bootstrap.css" rel="stylesheet">
		<link href="fugu.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">fugu</a>
          <ul class="nav">
						<li><a href="index.html">Home</a></li>
						<li class="active"><a href="reference.html">Reference</a></li>
          </ul>
        </div>
      </div>
		</div>

		<div class="container content">

	<div class="page-header">
    <h1>Fugu Reference <small>built on <tmpl_var name="DATE"></small></h1>
  </div>

<div class="row">
<div class="span-one-third">
    <tmpl_loop CATEGORIES1>

    <div class="category_list">
		<span class="label success"><tmpl_var name="CATEGORY"></span>
		<!-- <h1><tmpl_var name="CATEGORY"></h1> -->
		<tmpl_loop FUNCTIONS>
		<a href="#" class=<tmpl_var name="HAS_DOC"> id=<tmpl_var name="FUNCTION_ID">><tmpl_var name="FUNCTION_NAME"></a>
		<div style="display: none;" class=func_doc id=doc_<tmpl_var name="FUNCTION_ID">>
			<pre><tmpl_var name="FUNCTION_DOC"></pre>
		</div> 
		</tmpl_loop>
	</div>
	</tmpl_loop>	
</div>

<div class="span-one-third">
    <tmpl_loop CATEGORIES2>
    <div class="category_list">
		<span class="label success"><tmpl_var name="CATEGORY"></span>
		<!-- <h1><tmpl_var name="CATEGORY"></h1> -->
		<tmpl_loop FUNCTIONS>
		<a href="#" class=<tmpl_var name="HAS_DOC"> id=<tmpl_var name="FUNCTION_ID">><tmpl_var name="FUNCTION_NAME"></a>
		<div style="display: none;" class=func_doc id=doc_<tmpl_var name="FUNCTION_ID">>
			<pre><tmpl_var name="FUNCTION_DOC"></pre>
		</div> 
		</tmpl_loop>
	</div>
	</tmpl_loop>	
</div>

<div class="span-one-third">
    <tmpl_loop CATEGORIES3>
    <div class="category_list">
		<span class="label success"><tmpl_var name="CATEGORY"></span>
		<!-- <h1><tmpl_var name="CATEGORY"></h1> -->
		<tmpl_loop FUNCTIONS>
		<a href="#" class=<tmpl_var name="HAS_DOC"> id=<tmpl_var name="FUNCTION_ID">><tmpl_var name="FUNCTION_NAME"></a>
		<div style="display: none;" class=func_doc id=doc_<tmpl_var name="FUNCTION_ID">>
			<pre><tmpl_var name="FUNCTION_DOC"></pre>
		</div> 
		</tmpl_loop>
	</div>
	</tmpl_loop>	
</div>
</div>

<div class="row">
<div style="display:none" id="doc" class="span16"></div>
</div>


</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>
$(document).ready(function(){
	var currentDocName = null;
	var currentDocString = null;
	var slideSpeed = 0; 
	
	$(".category_list a.has_no_doc").click(function () {
		return false;
	});
	
	$(".category_list a.has_doc").click(function () { 
		/* console.log($(this)[0].id); */
		
		if (currentDocName==$(this)[0].id) {
			currentDocString.hide(slideSpeed, function() {
					$("#doc").empty();
					currentDocString = null;
					currentDocName = null;
					$("#doc").hide();
			});
		}
		else {		
			$("#doc").show();
			currentDocName = $(this)[0].id;
			var el = $("#doc_" + currentDocName);
			if (currentDocString) {
				currentDocString.hide(slideSpeed, function() {
					$("#doc").empty();
					currentDocString = el.clone();		
					$("#doc").append(currentDocString);
					currentDocString.show(slideSpeed);		
				});
			}
			else {
				$("#doc").empty();
				currentDocString = el.clone();		
				$("#doc").append(currentDocString);
				currentDocString.show(slideSpeed);		
			}
			
		}		
		
		return true;	 
	});
});    
    
</script>
   
</body>
</html>
