body {
	font-family: Helvetica, Arial;
}

h1 {
	text-align: center;
}

.category_list {
	 
}

#doc {
	background: #DDF;
	color: #559;
	margin: 4px;
	padding: 4px;
}

#doc pre {
	font-family: Helvetica, Arial;	
}


.func_doc {
	margin: 0;
	padding: 0;	
}

.category_list h1 {
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0px;
	text-align: left;
}

.category_list a {
	color: #559;
	text-decoration: none;
}

#footer {
	text-align: right;
}