/*
	zbrush-like palette
	darkerbg: #101010
	background: #272727	
	lighterbg: #3f3f3f
	inactive font: #959595
	active font: #c8c8c8	
	orange: #f27000
*/

QWidget {
	background: #272727;
	background-color: #272727;
	color: #c8c8c8;
	border: 0;	
}

QFrame {
	margin: 0;
	padding: 0;
}


QTabBar {
	background-color: #272727;
	border: 0;
}

QTabBar::tab { 
	background-color: #272727;
	color: #959595;	 
	padding: 6px;
	/* border: 1px solid black; */ 
	
	border: 0; /* px solid #C4C4C3; */
	 
	border-bottom: 2px solid #272727; /* same as the pane color */
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	min-width: 8ex;
}
 
QTabBar::tab:selected, QTabBar::tab:hover {
	background-color: #3f3f3f;
	color: #c8c8c8;	
}

QTabBar::tab:hover {
	background-color: #f27000;
}

QTabWidget::pane { 
	border: 0; 
	border-top: 2px solid #272727;
}










QMenu {
     background-color: #272727; /* sets background of the menu */
     color: #c8c8c8;
     border: 1px solid black;     
 }

 QMenu::item {
     /* sets background of menu item. set this to something non-transparent
         if you want menu color and menu item color to be different */
      background-color: #272727; 
      /* background-color: black; */
     
     /* padding: 2px 25px 2px 20px; */
     padding: 2px 25px 2px 20px;
    /*  border: 1px solid transparent; reserve space for selection border */
 }

 QMenu::item:selected { /* when user selects item using mouse or keyboard */
     background-color: #f27000;
 }
 
  QMenu::item:checked {
     background: #3f3f3f;
 }
 
  QMenu::item:checked:selected {
     background-color: #f27000;
 }
 
 QMenu::icon:checked { /* appearance of a 'checked' icon */
     background: transparent; /*#272727; */
     border: 0; /* 1px inset gray; */
     position: absolute;
     top: 1px;
     right: 1px;
     bottom: 1px;
     left: 1px;
 }
  
 QMenu::indicator {
     width: 13px;
     height: 13px;
     background-color: transparent; /* #272727; */
     border: 0;
     padding: 0;
     margin: 0;
 }
 
 /* non-exclusive indicator = check box style indicator (see QActionGroup::setExclusive) */
  QMenu::indicator:non-exclusive {
 	image: none;
 	 border: 0;
     padding: 0;
     margin: 0;
 }
 
 QMenu::indicator:non-exclusive:unchecked {
 }

 QMenu::indicator:non-exclusive:unchecked:selected {
 	background-color: #f27000;
 }

 QMenu::indicator:non-exclusive:checked {
     /* image: url("../assets/icons/tick.png"); */     
     background: #3f3f3f;
 }

 QMenu::indicator:non-exclusive:checked:selected {
 	background-color: #f27000;
 }

 /* exclusive indicator = radio button style indicator (see QActionGroup::setExclusive) */
 QMenu::indicator:exclusive {
 image: none;
 	 border: 0;
     padding: 0;
     margin: 0;
 }
 
 QMenu::indicator:exclusive:unchecked {
 }

 QMenu::indicator:exclusive:unchecked:selected {
 	background-color: #f27000; 	
 }

 QMenu::indicator:exclusive:checked {
 	background: #3f3f3f;
 }

 QMenu::indicator:exclusive:checked:selected {
 	background-color: #f27000;
 }
 
/* Customize the menu bar. */
QMenuBar {
	background-color: #272727;
	color: #c8c8c8;
	
    border-image: none;
    border-style: none;
    padding: 2px;
    border-bottom: 1px solid black;
}

QMenuBar::item {
    background-color: transparent;
    
    /* border: 1px solid black; */
    /* padding: 4px; */
}

QMenuBar::item:selected {
    background-color: #3f3f3f;
}












QPushButton {
     border-style: outset;
     border-width: 1px;
     border-radius: 6px;
     border-color: black;
     font: bold;
     min-width: 10em;
     padding: 3px;
 }
 
 QPushButton:pressed {
     background-color: #3f3f3f;
     border-style: inset;
 }
 
 QScrollBar {
 	background: #272727;
 }
 
 QScrollBar:horizontal {
 	height: 10px;
    margin: 0 10px 0 10px;
 }
 
  QScrollBar::handle:horizontal {
      background: #3f3f3f; 
      min-width: 5px;
  }
  
  QScrollBar::handle:horizontal:pressed {
      background: #959595;
  }
  
  QScrollBar::add-line:horizontal {      
      background: black;
      border: 2px solid #3f3f3f;
      width: 6px;
      subcontrol-position: right;
      subcontrol-origin: margin;
  }

  QScrollBar::sub-line:horizontal {      
      background: black;
      border: 2px solid #3f3f3f;
      width: 6px;
      subcontrol-position: left;
      subcontrol-origin: margin;
  }
  
  QScrollBar::left-arrow:horizontal, QScrollBar::right-arrow:horizontal {  	 
      width: 0px;
      height: 0px;
      background: none;
  }

  QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
      background: none;
  }
  
  
 QScrollBar:vertical {
      /* background: #272727; */      
      width: 10px;
      margin: 10px 0 10px 0;
  }
  
  QScrollBar::handle:vertical {
      background: #3f3f3f; 
      min-height: 5px;
  }
  
  QScrollBar::handle:vertical:pressed {
      background: #959595;
  }
  
  QScrollBar::add-line:vertical {      
      background: black;
      border: 2px solid #3f3f3f;
      height: 6px;
      subcontrol-position: bottom;
      subcontrol-origin: margin;
  }

  QScrollBar::sub-line:vertical {      
      background: black;
      border: 2px solid #3f3f3f;
      height: 6px;
      subcontrol-position: top;
      subcontrol-origin: margin;
  }
  
  QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {  	 
      width: 0px;
      height: 0px;
      background: none;
  }

  QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
      background: none;
  }
  
  
  
  
  
  
QSplitter::handle {
	image: none; /* url(images/splitter.png); */
	background: transparent;	
}

 QSplitter::handle:horizontal {
     width: 8px;
     /* border-right: 2px dotted #3f3f3f; */
     
    /* 
     background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
		stop: 0 #101010, stop: 1.0 #272727 ); */
	background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
		stop: 0 #181818, 
		stop: 1 #272727 );
     
     
 }

 QSplitter::handle:vertical {
     height: 6px;
     /* border-bottom: 2px dotted #3f3f3f; */
     
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
		stop: 0 #181818, stop: 1.0 #272727 );
 }

 QSplitter::handle:pressed, QSplitter::handle:hover {
     image: none; /* url(images/splitter_pressed.png); */
     /* background: #3f3f3f; */
     border-color: #f27000;
 }
 
 
 
  QToolBar {     
     spacing: 0px; /* spacing between items in the tool bar */
     background: #272727;
 }

 QToolBar::handle:horizontal {
     /* image: url(handle.png); */
     image: none;
     width: 8px;
     background: #3f3f3f;
 }
 
 QToolBar::handle:hover {
     /* image: url(handle.png); */
     image: none;
 	background: #f27000;         
 } 
 
 QToolButton { /* all types of tool button */
	background-color: #272727;
	margin: 4px;
 }

 QToolButton[popupMode="1"] { /* only for MenuButtonPopup */
     padding-right: 10px; /* make way for the popup button */
 }

 QToolButton:pressed, QToolButton:hover {
 	background-color: #f27000;
 }
  
 